In [1]:
import pandas as pd
import sklearn as skl
import sklearn
import numpy as np

In [2]:
users = pd.read_csv("users.csv", encoding ='cp1251')

In [4]:
items = pd.read_csv("items.csv", encoding ='cp1251', dtype=dict(row_id=np.int32, x=np.float32, y=np.float32, accuracy=np.int32, 
                                                              time=np.int32, place_id=np.int64))

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
items.head(5)

   ItemId  CreatorId  Year  DistributorId
0  121781      48864  2002          12008
1  106984      80902  2001           1409
2    2874      13251  1991           5225
3  186717      50998  1999           3696
4  266408     100239  1999           4246